<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Administración de Filmaser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img height="220px" src="assets/img/logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="ion-padding">
    <ion-item>
      <ion-input 
        class="ion-text-center" 
        clearInput 
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
        [type]="passwordType" 
        class="ion-text-center" 
        clearInput 
        placeholder="Contraseña"
        (keyup.enter)="login()"
        [(ngModel)]="password">
      </ion-input>
      <ion-icon name="eye" color="gray" (click)="togglePassword()"> </ion-icon>
    </ion-item>
  </ion-list>

  <ion-button class="text capitalize" color="dark" shape="round" (click)="login()">
    Entrar
  </ion-button>

  <br><br>

  <div class="ion-text-center">
    <a href="/reset-password">
      <ion-icon name="mail-outline"></ion-icon>
      Recuperar contraseña
    </a>
  </div>

</ion-content>