<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Series terminadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content" class="ion-text-center">
  <h6>¡Las series que has terminado se encuentran aquí!</h6>
  <div *ngFor="let serie of vistas | async">
    <div class="ion-margin-top">
      <div class="ion-text-center">
        <img src="assets/img/{{serie.imagen}}" width="" height="200px" alt="">
        <h2>{{serie.titulo}}</h2> <i>{{ serie.anio }}</i>
      </div>

      <div class="ion-margin">
        <p><i>{{ serie.descripcion }}</i></p>
      </div>

      <ion-item-divider color="content"></ion-item-divider>
    </div>
  </div>
</ion-content>