<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre la aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="toolbar" class="ion-text-center">
    <img src="assets/img/logo.png" height="200px">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="hand-left"></ion-icon>
        <b>¡BIENVENIDO A FILMASER!</b>
        <ion-icon name="hand-right"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En esta aplicación podrás ver un buen catálogo de series. Además, puedes añadir las que te gusten a tu lista de
      seguimiento, pendientes, favoritos o vistas donde podrás comentarlas.<br><br>
      Esta aplicación está desarrollada por<br> Sergio Toscano Díaz<br>2ºDAM - IES Campanillas<br><br>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light" href="https://github.com/sergiotoscanodiaz">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://www.youtube.com/channel/UCJ1tTZac1n1Vf0zcLk9VVqQ">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://twitter.com/tosquimlg07">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://www.linkedin.com/in/sergio-toscano-d%C3%ADaz-40652a1a4/">
        <ion-icon name="logo-linkedin">></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
