<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h6>¡Las series que estás viendo se encuentran aquí!</h6>
  <div *ngFor="let serie of seguidas | async">
    <div class="ion-margin-top">
      <div class="ion-text-center">
        <img src="assets/img/{{serie.imagen}}" width="" height="200px" alt="">
        <h2>{{serie.titulo}}</h2> <i>{{ serie.anio }}</i>
      </div>

      <div class="ion-margin">
        <p><i>{{ serie.descripcion }}</i></p>
        <ion-button color="button" (click)="serieService.addToVistas(serie)" (click)="presentVisToast()">
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button color="button" (click)="serieService.addToFavoritos(serie)" (click)="presentFavToast()">
          <ion-icon name="star-outline" color="warning"></ion-icon>
        </ion-button>
        <ion-button color="button" (click)="serieService.alertDeleteSeguida(serie.id, serie.titulo)">
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </div>

      <ion-item-divider></ion-item-divider>
    </div>
  </div>
</ion-content>