<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h6>¡Tu series pendientes se encuentran aquí!</h6>
  <div *ngFor="let serie of pendientes | async">
    <div class="ion-margin-top">
      <div class="ion-text-center">
        <img src="assets/img/{{serie.imagen}}" width="" height="200px" alt="">
        <h2>{{serie.titulo}}</h2> <i>{{ serie.anio }}</i>
      </div>
      <div class="ion-margin">
        <p><i>{{ serie.descripcion }}</i></p>
        <ion-button color="button" (click)="serieService.addToSeguidas(serie)">
          <ion-icon name="eye-outline"></ion-icon>
          <ion-icon name="blank"></ion-icon>
          Seguir
        </ion-button>
        <ion-button color="button" (click)="serieService.alertDeletePendiente(serie.id, serie.titulo)">
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </div>
      <ion-item-divider></ion-item-divider>
    </div>
  </div>

</ion-content>