<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Administración de Filmaser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center">

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img height="220px" src="assets/img/logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>
    ¿Se te ha olvidado la contraseña? No te preocupes. Escribe tu correo y podrás cambiar la contraseña.
    ¡Que no se te olvide otra vez!
  </p>

  <br>

  <ion-item>
    <ion-input class="ion-text-center" clearInput placeholder="Correo electrónico" [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <br><br>

  <ion-button class="capitalize" color="dark" (click)="resetPassword()">
    Aceptar
  </ion-button>
  <br>
  <ion-button class="text capitalize" color="dark" href="/login">
    Cancelar
  </ion-button>
</ion-content>