<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ tituloPagina }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" class="ion-padding">
  <h4>¡Escribe qué te ha parecido la serie que acabas de terminar!</h4>

  <ion-item>
    <ion-label position="floating">Serie</ion-label>
    <ion-input clearInput [(ngModel)]="comentario.serie"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tu comentario</ion-label>
    <ion-input clearInput [(ngModel)]="comentario.comentario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tu nota</ion-label>
    <ion-input type="number" min="0" max="10" [(ngModel)]="comentario.nota"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Escrito por</ion-label>
    <ion-input clearInput [(ngModel)]="comentario.apodo"></ion-input>
  </ion-item> <br>

  <ion-button (click)="addMiComentario()" (click)="addComentario()" color="button" expand="block" class="capitalize"
    shape="round" href="/miscomentarios">
    Guardar
  </ion-button>

  <ion-button color="button" expand="block" class="capitalize" shape="round" href="/vistas">
    Cancelar
  </ion-button>

</ion-content>