<ion-menu side="end" menuId="main-menu" contentId="main">
  <ion-header>
    <ion-toolbar color="toolbar">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="authService.getCurrentUser() | async" (click)="alertLogout()">
        <ion-icon color="danger" name="exit-outline" slot="start"></ion-icon>
        <ion-label>Salir de la cuenta</ion-label>
      </ion-item>
      <ion-item href="/home" *ngIf="authService.getCurrentUser() | async">
        <ion-icon color="tertiary" name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item href="/comentarios" *ngIf="authService.getCurrentUser() | async">
        <ion-icon color="content" name="person-outline" slot="start"></ion-icon>
        <ion-label>Comentarios de la comunidad</ion-label>
      </ion-item>
      <ion-item href="/viendo" *ngIf="authService.getCurrentUser() | async">
        <ion-icon color="primary" name="eye-outline" slot="start"></ion-icon>
        <ion-label>Lista de seguimiento</ion-label>
      </ion-item>
      <ion-item href="/vistas" *ngIf="authService.getCurrentUser() | async">
        <ion-icon color="success" name="checkmark-circle-outline" slot="start"></ion-icon>
        <ion-label>Series finalizadas</ion-label>
      </ion-item>
      <ion-item href="/favoritos" *ngIf="authService.getCurrentUser() | async">
        <ion-icon color="warning" name="star-outline" slot="start"></ion-icon>
        <ion-label>Lista de favoritos</ion-label>
      </ion-item>
      <ion-item href="/pendientes" *ngIf="authService.getCurrentUser() | async">
        <ion-icon color="medium" name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Pendientes</ion-label>
      </ion-item>
      <ion-item href="/info">
        <ion-icon color="info" name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Sobre la aplicación</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>