<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1>Filmaser</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="toolbar" class="ion-text-center">
    <img src="assets/img/logo.png">
    <ion-card-header>
      <ion-card-title>
        <b>¡Buen día FILMASERIÉFILO!</b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¿Qué te apetece ver?<br>
      <i>Iremos añadiendo más series próximamente.</i><br>
      <i><b>Por ahora contamos con 30 series</b></i>
    </ion-card-content>
  </ion-card>

  <ion-item class="border">
    <ion-label position="floating">Género</ion-label>
    <ion-select [(ngModel)]="buscarGenero">
      <ion-select-option value="todos" selected>Todos</ion-select-option>
      <ion-select-option *ngFor="let g of generos" [value]="g">{{ g }}</ion-select-option>
    </ion-select>
  </ion-item>
  <h1 class="ion-text-center">Lista de series</h1>
  <br>
  <div *ngFor="let serie of series">
    <div *ngIf="serie.generos.includes(buscarGenero) || buscarGenero == 'todos'" class="ion-padding">
      <div (click)="showDetails(serie.id)" class="ion-padding ion-text-center">
        <img src="assets/img/{{serie.imagen}}" height="300px" width="250px" alt="">
        <h1 class="ion-text-center">{{serie.titulo}}</h1>
      </div>
      <div *ngIf="clicked && series[index].id == serie.id">
        <h2>Géneros</h2>
        <ul>
          <li *ngFor="let g of serie.generos"><i>{{ g }}</i></li>
        </ul>
        <h2>Sinopsis</h2>
        <p class="ion-text-justify ion-padding"><i>{{ serie.descripcion }}</i></p>
        <h2>Año</h2>
        <p class="ion-text-justify ion-padding"><i>{{ serie.anio }}</i></p>
        <ion-button color="button" expand="full" (click)="addToSeguidas(serie)">
          <ion-icon name="eye-outline"></ion-icon>
          <ion-icon name="blank"></ion-icon>
          Seguir
        </ion-button>
        <ion-button color="button" expand="full" (click)="addToPendientes(serie)">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-icon name="blank"></ion-icon>
          Añadir a pendientes
        </ion-button>
      </div>
      <ion-item-divider></ion-item-divider>
    </div>
  </div>
</ion-content>
<ion-footer>

  <ion-toolbar color="toolbar">
    <ion-button color="button" class="ion-margin" expand="full" (click)="openListsModal()">
      <ion-icon name="list"></ion-icon>
      <ion-icon name="blank"></ion-icon>
      Tus listas
    </ion-button>
  </ion-toolbar>
</ion-footer>